.footer {
    background-color: #ffffff;
    padding: 18px 24px 18px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    /* margin-top: 24px; */
    position: absolute;
    left: 0px;
    right: 0px;
    border-top: 1px solid rgba(34, 34, 34, 0.15) !important;
}

#footer-dark {
    background-color: #242347;
    z-index: 3;
    left: 0px;
    right: 0px;
}

#footer-dark button {
    color: #ffffff;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.footer button {
    color: #222222;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.4;
    min-height: 36px;
    min-width: 36px;
    padding: 9px 15px;
    border-radius: 24px;
    transition: all 0.3s ease 0s;
    display: flex;
}

#footer-dark button:hover {
    background-color: #333355;
}

.footer button:hover {
    background-color: #eeeeee;
}