.product-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf9f5;
    -webkit-font-smoothing: antialiased;
    transition: opacity 0.3s ease-out;
}

.product-form-container-title {
    font-size: 26px;
    font-weight: 500;
    color: #222;
    margin: 48px 0px 42px 0px;
    text-align: center;
    width: 100%;
}

.product-form-photos-container {
    width: 100%;
}

.product-form-photos {
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    margin: 0px;
    font-size: 14px;
    padding: 24px 24px 0px 24px;
    margin: 18px 18px 24px 18px;
}

.product-form-photos-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.product-form-photos-description {
    color: #595959;
    font-size: 14px;
    margin-bottom: 24px;
}

.product-form-photos-descriptions {
    display: flex;
}

.product-form-photos-descriptions-text {
    width: 25%;
    margin-right: 18px;
}

.product-form-photos-descriptions-images-container {
    width: 75%;
    
}

.product-form-photos-descriptions-images {
    /* width: 75%; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-form-photos-descriptions-image {
    width: 120px;
    height: 120px;
    background-color: #faf9f5;
    border-radius: 3px;
    border: 1px solid #E1E3DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin-bottom: 18px;
    margin-left: 18px;
}

.last-photo {
    margin-bottom: 24px;
}


.product-form-photos-descriptions-image div {
    margin-top: 4px;
    width: 90px;
    height: 90px;
}

.product-form-photos-descriptions-image p {
    font-size: 12px;
    margin-top: 6px;
    color: #757575;
}

.product-form-photos-descriptions-text-title {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.product-form-photos-descriptions-text-description {
    font-size: 12px;
    color: #595959;
    margin-bottom: 24px;
}

.product-form-photos-descriptions-text-tips {
    font-size: 12px;
    color: #595959;
    list-style: disc;
    padding-inline-start: 20px;
}

.white {
    color: white;
}

.product-form-detail-title-input {
    padding: 9px 12px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) 0 inset;
    transition: opacity 0.3s ease-out;
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    color: #222;
    width: 100%;
    margin-left: 18px;
    margin-bottom: 26px;

}

.product-form-detail-title-input:hover {
    border-color: #adaeaa;
}

.product-form-detail-title-input:focus {
    border-color: rgba(0, 0, 0, 0.8);;
    outline: 0;
}

.product-form-detail-about-container {
    width: 100%;
    height: 38px;
    margin-left: 18px;
    margin-bottom: 18px;
    display: flex;
}

.product-form-detail-about-select {
    width: 33%;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #FFF;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    color: #222;
    padding-right: 30px;
}
.middle-select {
    margin: 0px 6px;
}

.product-form-detail-type-container {
    width: 100%;
    height: 60px;
    margin-top: 16px;
    margin-left: 18px;
    display: flex;
}

.radio > label {
    font-size: 14px;
    color: #222;
}

.radio > p {
    font-size: 12px;
    color: #595959;
    margin-left: 22px;
    margin-right: 36px;
    margin-top: 4px;
}

.product-form-detail-description-container {
    margin-left: 18px;
    margin-bottom: 24px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    resize: vertical;
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    color: #222;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 9px 12px;
}

.pricing {
    margin-bottom: 24px;
}

.price {
    margin-bottom: 56px;
    width: 211px;
}

.footer-type-2 {
    width: 50%;
    height: 76px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #222;
    margin-left: 25%;
}

.footer-type-2 > * {
    margin-right: 12px;
}

.footer-type-2-container {
    width: 100%;
    border-top: 1px solid #E1E3DF;
}

.last-pricing {
    margin-bottom: 48px;
}

.empty-bottom {
    width: 100%;
    height: 63px;
}

.product-form-bottom-nav {
    width: 100%;
    height: 38px;
    border-top: 1px solid #E1E3DF;
    background-color: #FFF;
    position: fixed;
    padding: 12px 18px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-form-bottom-nav > div {
    display: flex;
    align-items: center;
}

.cancel-btn {
    background-color: #FFF;
    border-color: rgba(0, 0, 0, 0.15);
    color: #222;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 1.4;
    padding: 0px 12px;
    text-align: center;
    text-decoration: none;
    margin-left: 18px;    
}

.save-and-continue-btn {
    background-color: #222222;
    border-color: rgba(0, 0, 0, 0.1);
    color: #FFF;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 1.4;
    padding: 0px 12px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    margin-right: 18px;

}

.product-form-bottom-nav p {
    padding: 0px 12px;
    color: #222;
}

.quantity {
    width: 129px;
}

.product-form-price-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#photo-1 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-1.0000.svg);
}

#photo-2 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-2.0000.svg);
    
}

#photo-3 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-3.0000.svg);
    
}

#photo-4 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-4.0000.svg);
    
}

#photo-5 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-5.0000.svg);
    
}

#photo-6 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-6.0000.svg);
    
}

#photo-7 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-7.0000.svg);
    
}

#photo-8 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-8.0000.svg);
    
}

#photo-9 {
    background-image: url(https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-9.0000.svg);
    
}

.add-product {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-photo-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#add-photo-input {
    display: none;
}

.product-description:hover {
    border-color: #adaeaa;
}

.product-description:focus {
    border-color: rgba(0, 0, 0, 0.8);
    outline: 0;
}

.product-index {
    display: flex;
    flex-wrap: wrap;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.product-index-item {
    margin-right: 12px;
    margin-bottom: 12px;
}

.product-index-item > *:first-child {
    width: 163px;
    height: 130px;
    background-color: orange;
    border-radius: 2px;
}

.product-index-item-title {
    font-size: 14px;
}

.product-index-item-price {
    font-size: 16px;
    font-weight: 500;
}