.product-show {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-show-left {
    width: 64%;
    padding-left: 36px;
    padding-right: 36px;
    display: flex;
    justify-content: center;
}

.product-show-left > img {
    border-radius: 6px;
    width: auto;
    max-height: 400px;
    object-fit: contain;
}

.product-show-right {
    width: 36%;
    padding-right: 36px;
}