
.searchbar {
    display: flex;
    width: 100%;
    margin: 0px 18px 0px 0px;
    height: 48px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.searchbar input {
    width: 93%;
    height: 100%;
    border-radius: 100px 0px 0px 100px;
    /* background-color: #e7e4e4; */
    background-color: rgba(34, 34, 34, 0.07);

    font-size: 15px;
    padding-left: 15px;
    border: 0px;
    margin: 0px;
}

.searchbar input:focus {
    outline: 0;
}

.searchbar button:hover {
    /* background: #aaabac; */
    background-color: rgba(34, 34, 34, 0.15);

}

.searchbutton {
    display: inline-flex;
    height: 100%;
    padding: 0px;
    border-radius: 0px 100px 100px 0px;
    /* background: #e7e4e4; */
    background-color: rgba(34, 34, 34, 0.07);

    color: black;
    font-size: 24px;
    cursor: pointer;
    border-top: 1px rgb(190, 190, 190);
    border-bottom: 1px rgb(190, 190, 190);
    border: 0px;
    margin: 0px;
}

.searchbutton svg {
    height: 17px;
}

.product-search {
    margin: 0px 36px 36px 36px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

#no-result {
    margin-left: 36px;
    font-size: 16px;
    font-weight: 500;
}